		<footer>
			<div class="container footer-nav-block">

			       <div class="col span_1_of_4">
			         <p class="copyright-block">&copy; 2015 <strong>Harmony Music</strong></p>
			       </div>

			       <nav class="col span_2_of_4">
			         <ul>
			           <li><a href="">About</a></li> |
			           <li><a href="">Return Policy</a></li> |
			           <li><a href="">Terms of Service</a></li> |
			           <li><a href="">Financing</a></li> |
			           <li><a href="">Shipping Details</a> |
			           	<li><a href="">Contact</a></li>
			         </ul>
			       </nav>

			       <div class="col span_1_of_4">
						<ul>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
						</ul>
			       </div>

			</div>
		</footer>