		<div class="main-nav">
			<nav class="container">
				<div>
					<ul>
						<li><a href="#">Woodwinds</a></li>
						<li><a href="#">Brass</a></li>
						<li><a href="#">Strings</a></li>
						<li><a href="#">Guitars</a></li>
						<li><a href="#">Bass Guitars</a></li>
						<li><a href="#">Amplifiers & Effects</a></li>
						<li><a href="#">Drums & Percussion</a></li>
						<li><a href="#">Keyboards</a></li>
						<li><a href="#">Accessories</a></li>
					</ul>				
				</div>
			</nav>
		</div>