		<div class="sales-banner">
			<div class="container hero">
				<div class="sales-banner-content-left">
					<h1>Turn up the volume sales event</h1>
					<p>15% OFF SELECT BRANDS AND ACCESSORIES | NOW THROUGH SEPTEMBER 30TH</p>
				</div>
				<div class="sales-banner-content-right">
					<a href="#" class="btn">SHOP NOW</a>   
				</div>
			</div>
		</div>